

{% block title %}Contacts{% endblock %}
{% block stylesheets %}
    <style>
        table {
            border-collapse: collapse;
            margin: 0 auto;
            font-size: 1.2em;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        th, td {
            padding: 12px 15px;
        }

        th {
            background-color: #17a2b8;
            color: #fff;
            text-align: left;
        }

        tr:nth-child(even) {
            background-color: #f5f5f5;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Contacts</h1>
    <table>
        <thead>
            <tr>
                <th>ID Nom</th>
                <th>ID Contact</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.getIdNom() }}</td>
                    <td>{{ contact.getIdContact() }}</td>
                    <td>
                    <form action="{{ path('delete_contact', {'id': contact.getIdContact()}) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Ajout d'un contact</h3> 
    {{ form_start(addform) }}
    <button type="submit" class="btn btn-primary">Ajouter</button>
    {{ form_end(addform) }}


{% endblock %}
